.template-card {
  backdrop-filter: blur(2px);
  flex-shrink: 0;
}

.template {
  cursor: pointer;
}

.template:hover .click-me {
  transform: scale(1.2);
  opacity: 1;
}

.click-me {
  transition: transform 0.3s ease-in-out;
  top: 35%;
  opacity: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
